* {
  font-family: sans-serif;
  /* border: 1px solid blue; */
  max-width: 960px;
  box-sizing: border-box;
  color: white;
}
body {
  background-image: url("./img/DJI_0080.jpg");
  background-repeat: repeat-y;

}

h2 {
  margin-bottom: 5px;
}
h3 {
  margin-top: 0px;
}