* {
  font-family: sans-serif;
  /* border: 1px solid blue; */
  max-width: 960px;
  box-sizing: border-box;
  color: white;
}
body {
  background-image: url("./img/DJI_0080.JPG");
  background-repeat: no-repeat;

}